USE [master]
GO
/****** Object:  Database [RRHH]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE DATABASE [RRHH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RRHH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RRHH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RRHH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RRHH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RRHH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RRHH]
GO
/****** Object:  Schema [rrhh]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE SCHEMA [rrhh]
GO
/****** Object:  Table [rrhh].[att_day]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[att_day](
	[employee_id] [int] NOT NULL,
	[work_date] [date] NOT NULL,
	[first_in] [time](0) NULL,
	[last_out] [time](0) NULL,
	[total_minutes] [int] NULL,
	[source_batch_id] [bigint] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[work_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[att_manual_override]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[att_manual_override](
	[override_id] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[work_date] [date] NOT NULL,
	[first_in] [time](0) NULL,
	[last_out] [time](0) NULL,
	[total_minutes] [int] NULL,
	[reason] [nvarchar](150) NOT NULL,
	[comment] [nvarchar](500) NULL,
	[created_by_user_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[override_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [rrhh].[vw_attendance_effective]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [rrhh].[vw_attendance_effective] AS
    SELECT
      d.employee_id,
      d.work_date,
      ISNULL(o.first_in, d.first_in) AS first_in,
      ISNULL(o.last_out, d.last_out) AS last_out,
      ISNULL(o.total_minutes, d.total_minutes) AS total_minutes,
      CASE WHEN o.override_id IS NOT NULL THEN 1 ELSE 0 END AS has_manual_override,
      d.source_batch_id
    FROM rrhh.att_day d
    OUTER APPLY (
      SELECT TOP (1) o.*
      FROM rrhh.att_manual_override o
      WHERE o.employee_id = d.employee_id
        AND o.work_date = d.work_date
        AND o.is_active = 1
      ORDER BY o.created_at DESC
    ) o;
  
GO
/****** Object:  Table [rrhh].[att_day_audit]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[att_day_audit](
	[audit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[work_date] [date] NOT NULL,
	[old_first_in] [time](0) NULL,
	[old_last_out] [time](0) NULL,
	[old_total_minutes] [int] NULL,
	[new_first_in] [time](0) NULL,
	[new_last_out] [time](0) NULL,
	[new_total_minutes] [int] NULL,
	[batch_id] [bigint] NOT NULL,
	[changed_by_user_id] [int] NOT NULL,
	[changed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[att_import_batch]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[att_import_batch](
	[batch_id] [bigint] IDENTITY(1,1) NOT NULL,
	[year_no] [int] NOT NULL,
	[month_no] [int] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_id] [bigint] NULL,
	[checksum] [nvarchar](80) NULL,
	[uploaded_by_user_id] [int] NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[att_import_row]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[att_import_row](
	[row_id] [bigint] IDENTITY(1,1) NOT NULL,
	[batch_id] [bigint] NOT NULL,
	[doc_number] [nvarchar](30) NOT NULL,
	[work_date] [date] NOT NULL,
	[first_in] [time](0) NULL,
	[last_out] [time](0) NULL,
	[total_minutes] [int] NULL,
	[raw_text] [nvarchar](max) NULL,
	[load_status] [nvarchar](20) NOT NULL,
	[error_message] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[auth_role]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[auth_role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_code] [nvarchar](50) NOT NULL,
	[role_name] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[auth_user]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[auth_user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_username] [nvarchar](120) NOT NULL,
	[employee_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ad_username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[auth_user_role]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[auth_user_role](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[hr_approver_pool]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[hr_approver_pool](
	[user_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[hr_area]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[hr_area](
	[area_id] [int] IDENTITY(1,1) NOT NULL,
	[area_name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_hr_area] PRIMARY KEY CLUSTERED 
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[hr_employee]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[hr_employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[doc_number] [nvarchar](30) NULL,
	[first_name] [nvarchar](80) NOT NULL,
	[last_name] [nvarchar](80) NOT NULL,
	[email] [nvarchar](150) NULL,
	[hire_date] [date] NULL,
	[cost_center] [nvarchar](60) NULL,
	[department] [nvarchar](120) NULL,
	[position_name] [nvarchar](120) NULL,
	[is_exec_approval_by_hr] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[area_name] [nvarchar](120) NULL,
	[ad_username] [nvarchar](120) NULL,
	[can_work_from_home] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[hr_employee_manager]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[hr_employee_manager](
	[employee_id] [int] NOT NULL,
	[manager_employee_id] [int] NOT NULL,
	[valid_from] [date] NOT NULL,
	[valid_to] [date] NULL,
	[is_primary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[valid_from] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[hr_manager_area]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[hr_manager_area](
	[manager_employee_id] [int] NOT NULL,
	[area_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_hr_manager_area] PRIMARY KEY CLUSTERED 
(
	[manager_employee_id] ASC,
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[report_export_log]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[report_export_log](
	[export_id] [bigint] IDENTITY(1,1) NOT NULL,
	[report_code] [nvarchar](80) NOT NULL,
	[params_json] [nvarchar](max) NOT NULL,
	[requested_by_user_id] [int] NOT NULL,
	[format] [nvarchar](10) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[file_id] [bigint] NULL,
	[error_message] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[export_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[shift_assignment]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[shift_assignment](
	[assignment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[shift_id] [int] NOT NULL,
	[valid_from] [date] NOT NULL,
	[valid_to] [date] NULL,
	[created_by_user_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[shift_assignment_audit]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[shift_assignment_audit](
	[audit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[old_shift_id] [int] NULL,
	[old_valid_from] [date] NULL,
	[old_valid_to] [date] NULL,
	[new_shift_id] [int] NOT NULL,
	[new_valid_from] [date] NOT NULL,
	[new_valid_to] [date] NULL,
	[changed_by_user_id] [int] NOT NULL,
	[changed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[shift_change_request]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[shift_change_request](
	[request_id] [bigint] NOT NULL,
	[requested_shift_id] [int] NOT NULL,
	[effective_date] [date] NOT NULL,
	[reason] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[shift_definition]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[shift_definition](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_code] [nvarchar](30) NOT NULL,
	[start_time] [time](0) NOT NULL,
	[end_time] [time](0) NOT NULL,
	[shift_group] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[shift_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[sys_attachment]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[sys_attachment](
	[file_id] [bigint] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[mime_type] [nvarchar](120) NOT NULL,
	[size_bytes] [bigint] NOT NULL,
	[storage_path] [nvarchar](500) NOT NULL,
	[uploaded_by_user_id] [int] NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[sys_notification]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[sys_notification](
	[notification_id] [bigint] IDENTITY(1,1) NOT NULL,
	[to_user_id] [int] NOT NULL,
	[channel] [nvarchar](20) NOT NULL,
	[subject] [nvarchar](200) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[ref_table] [nvarchar](60) NULL,
	[ref_id] [bigint] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[time_reduction_request]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[time_reduction_request](
	[request_id] [bigint] NOT NULL,
	[reduction_date] [date] NOT NULL,
	[slot] [nvarchar](2) NOT NULL,
	[minutes] [int] NOT NULL,
	[reason] [nvarchar](200) NOT NULL,
	[comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[wf_action]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[wf_action](
	[action_id] [bigint] IDENTITY(1,1) NOT NULL,
	[request_id] [bigint] NOT NULL,
	[step_no] [int] NULL,
	[actor_user_id] [int] NOT NULL,
	[action] [nvarchar](10) NOT NULL,
	[comment] [nvarchar](500) NULL,
	[action_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[action_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[wf_request]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[wf_request](
	[request_id] [bigint] IDENTITY(1,1) NOT NULL,
	[request_type] [nvarchar](40) NOT NULL,
	[employee_id] [int] NOT NULL,
	[created_by_user_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[submitted_at] [datetime] NULL,
	[closed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[wf_request_step]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[wf_request_step](
	[step_id] [bigint] IDENTITY(1,1) NOT NULL,
	[request_id] [bigint] NOT NULL,
	[step_no] [int] NOT NULL,
	[assigned_to_user_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[acted_at] [datetime] NULL,
	[comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[step_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_step] UNIQUE NONCLUSTERED 
(
	[request_id] ASC,
	[step_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[wfh_day]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[wfh_day](
	[employee_id] [int] NOT NULL,
	[work_date] [date] NOT NULL,
	[reason] [nvarchar](200) NULL,
	[created_by_user_id] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_wfh_day] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[work_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_att_row_batch_date]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_att_row_batch_date] ON [rrhh].[att_import_row]
(
	[batch_id] ASC,
	[work_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_override_emp_date_active]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_override_emp_date_active] ON [rrhh].[att_manual_override]
(
	[employee_id] ASC,
	[work_date] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_hr_area_area_name]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_hr_area_area_name] ON [rrhh].[hr_area]
(
	[area_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_hr_employee_doc_number]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_hr_employee_doc_number] ON [rrhh].[hr_employee]
(
	[doc_number] ASC
)
WHERE ([doc_number] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_mgr_employee_current]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_mgr_employee_current] ON [rrhh].[hr_employee_manager]
(
	[employee_id] ASC,
	[is_primary] ASC,
	[valid_from] ASC,
	[valid_to] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_shift_assign_emp_from]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_shift_assign_emp_from] ON [rrhh].[shift_assignment]
(
	[employee_id] ASC,
	[valid_from] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_shift_assign_emp_to]    Script Date: 2/20/2026 9:28:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_shift_assign_emp_to] ON [rrhh].[shift_assignment]
(
	[employee_id] ASC,
	[valid_to] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rrhh].[att_day] ADD  CONSTRAINT [DF_att_day_updated]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [rrhh].[att_day_audit] ADD  CONSTRAINT [DF_att_audit_at]  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [rrhh].[att_import_batch] ADD  CONSTRAINT [DF_att_batch_uploaded]  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [rrhh].[att_import_batch] ADD  CONSTRAINT [DF_att_batch_status]  DEFAULT ('UPLOADED') FOR [status]
GO
ALTER TABLE [rrhh].[att_import_row] ADD  CONSTRAINT [DF_att_row_status]  DEFAULT ('OK') FOR [load_status]
GO
ALTER TABLE [rrhh].[att_manual_override] ADD  CONSTRAINT [DF_att_override_created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[att_manual_override] ADD  CONSTRAINT [DF_att_override_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[auth_user] ADD  CONSTRAINT [DF_auth_user_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[auth_user] ADD  CONSTRAINT [DF_auth_user_created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[hr_approver_pool] ADD  CONSTRAINT [DF_hr_pool_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[hr_employee] ADD  CONSTRAINT [DF_emp_exec]  DEFAULT ((0)) FOR [is_exec_approval_by_hr]
GO
ALTER TABLE [rrhh].[hr_employee] ADD  CONSTRAINT [DF_emp_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[hr_employee] ADD  CONSTRAINT [DF_emp_created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[hr_employee] ADD  CONSTRAINT [DF_hr_employee_can_wfh]  DEFAULT ((0)) FOR [can_work_from_home]
GO
ALTER TABLE [rrhh].[hr_employee_manager] ADD  CONSTRAINT [DF_mgr_primary]  DEFAULT ((1)) FOR [is_primary]
GO
ALTER TABLE [rrhh].[hr_manager_area] ADD  CONSTRAINT [DF_hr_manager_area_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[hr_manager_area] ADD  CONSTRAINT [DF_hr_manager_area_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[report_export_log] ADD  CONSTRAINT [DF_export_status]  DEFAULT ('CREATED') FOR [status]
GO
ALTER TABLE [rrhh].[report_export_log] ADD  CONSTRAINT [DF_export_created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[shift_assignment] ADD  CONSTRAINT [DF_assign_created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[shift_assignment_audit] ADD  CONSTRAINT [DF_shift_audit_at]  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [rrhh].[shift_definition] ADD  CONSTRAINT [DF_shift_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[sys_attachment] ADD  CONSTRAINT [DF_file_uploaded]  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [rrhh].[sys_notification] ADD  CONSTRAINT [DF_notif_channel]  DEFAULT ('INAPP') FOR [channel]
GO
ALTER TABLE [rrhh].[sys_notification] ADD  CONSTRAINT [DF_notif_status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [rrhh].[sys_notification] ADD  CONSTRAINT [DF_notif_created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[time_reduction_request] ADD  CONSTRAINT [DF_reduction_minutes]  DEFAULT ((60)) FOR [minutes]
GO
ALTER TABLE [rrhh].[wf_action] ADD  CONSTRAINT [DF_action_at]  DEFAULT (getdate()) FOR [action_at]
GO
ALTER TABLE [rrhh].[wf_request] ADD  CONSTRAINT [DF_wf_status]  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [rrhh].[wf_request] ADD  CONSTRAINT [DF_wf_created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[wf_request_step] ADD  CONSTRAINT [DF_step_status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [rrhh].[wfh_day] ADD  CONSTRAINT [DF_wfh_day_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [rrhh].[wfh_day] ADD  CONSTRAINT [DF_wfh_day_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[att_day]  WITH CHECK ADD  CONSTRAINT [FK_att_day_batch] FOREIGN KEY([source_batch_id])
REFERENCES [rrhh].[att_import_batch] ([batch_id])
GO
ALTER TABLE [rrhh].[att_day] CHECK CONSTRAINT [FK_att_day_batch]
GO
ALTER TABLE [rrhh].[att_day]  WITH CHECK ADD  CONSTRAINT [FK_att_day_emp] FOREIGN KEY([employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[att_day] CHECK CONSTRAINT [FK_att_day_emp]
GO
ALTER TABLE [rrhh].[att_import_batch]  WITH CHECK ADD  CONSTRAINT [FK_att_batch_file] FOREIGN KEY([file_id])
REFERENCES [rrhh].[sys_attachment] ([file_id])
GO
ALTER TABLE [rrhh].[att_import_batch] CHECK CONSTRAINT [FK_att_batch_file]
GO
ALTER TABLE [rrhh].[att_import_batch]  WITH CHECK ADD  CONSTRAINT [FK_att_batch_user] FOREIGN KEY([uploaded_by_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[att_import_batch] CHECK CONSTRAINT [FK_att_batch_user]
GO
ALTER TABLE [rrhh].[att_import_row]  WITH CHECK ADD  CONSTRAINT [FK_att_row_batch] FOREIGN KEY([batch_id])
REFERENCES [rrhh].[att_import_batch] ([batch_id])
GO
ALTER TABLE [rrhh].[att_import_row] CHECK CONSTRAINT [FK_att_row_batch]
GO
ALTER TABLE [rrhh].[att_manual_override]  WITH CHECK ADD  CONSTRAINT [FK_override_emp] FOREIGN KEY([employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[att_manual_override] CHECK CONSTRAINT [FK_override_emp]
GO
ALTER TABLE [rrhh].[att_manual_override]  WITH CHECK ADD  CONSTRAINT [FK_override_user] FOREIGN KEY([created_by_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[att_manual_override] CHECK CONSTRAINT [FK_override_user]
GO
ALTER TABLE [rrhh].[auth_user]  WITH CHECK ADD  CONSTRAINT [FK_auth_user_employee] FOREIGN KEY([employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[auth_user] CHECK CONSTRAINT [FK_auth_user_employee]
GO
ALTER TABLE [rrhh].[auth_user_role]  WITH CHECK ADD  CONSTRAINT [FK_user_role_role] FOREIGN KEY([role_id])
REFERENCES [rrhh].[auth_role] ([role_id])
GO
ALTER TABLE [rrhh].[auth_user_role] CHECK CONSTRAINT [FK_user_role_role]
GO
ALTER TABLE [rrhh].[auth_user_role]  WITH CHECK ADD  CONSTRAINT [FK_user_role_user] FOREIGN KEY([user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[auth_user_role] CHECK CONSTRAINT [FK_user_role_user]
GO
ALTER TABLE [rrhh].[hr_approver_pool]  WITH CHECK ADD  CONSTRAINT [FK_hr_pool_user] FOREIGN KEY([user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[hr_approver_pool] CHECK CONSTRAINT [FK_hr_pool_user]
GO
ALTER TABLE [rrhh].[hr_employee_manager]  WITH CHECK ADD  CONSTRAINT [FK_mgr_emp] FOREIGN KEY([employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[hr_employee_manager] CHECK CONSTRAINT [FK_mgr_emp]
GO
ALTER TABLE [rrhh].[hr_employee_manager]  WITH CHECK ADD  CONSTRAINT [FK_mgr_mgr] FOREIGN KEY([manager_employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[hr_employee_manager] CHECK CONSTRAINT [FK_mgr_mgr]
GO
ALTER TABLE [rrhh].[hr_manager_area]  WITH CHECK ADD  CONSTRAINT [FK_hr_manager_area_area] FOREIGN KEY([area_id])
REFERENCES [rrhh].[hr_area] ([area_id])
GO
ALTER TABLE [rrhh].[hr_manager_area] CHECK CONSTRAINT [FK_hr_manager_area_area]
GO
ALTER TABLE [rrhh].[hr_manager_area]  WITH CHECK ADD  CONSTRAINT [FK_hr_manager_area_emp] FOREIGN KEY([manager_employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[hr_manager_area] CHECK CONSTRAINT [FK_hr_manager_area_emp]
GO
ALTER TABLE [rrhh].[report_export_log]  WITH CHECK ADD  CONSTRAINT [FK_export_file] FOREIGN KEY([file_id])
REFERENCES [rrhh].[sys_attachment] ([file_id])
GO
ALTER TABLE [rrhh].[report_export_log] CHECK CONSTRAINT [FK_export_file]
GO
ALTER TABLE [rrhh].[report_export_log]  WITH CHECK ADD  CONSTRAINT [FK_export_user] FOREIGN KEY([requested_by_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[report_export_log] CHECK CONSTRAINT [FK_export_user]
GO
ALTER TABLE [rrhh].[shift_assignment]  WITH CHECK ADD  CONSTRAINT [FK_assign_emp] FOREIGN KEY([employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[shift_assignment] CHECK CONSTRAINT [FK_assign_emp]
GO
ALTER TABLE [rrhh].[shift_assignment]  WITH CHECK ADD  CONSTRAINT [FK_assign_shift] FOREIGN KEY([shift_id])
REFERENCES [rrhh].[shift_definition] ([shift_id])
GO
ALTER TABLE [rrhh].[shift_assignment] CHECK CONSTRAINT [FK_assign_shift]
GO
ALTER TABLE [rrhh].[shift_assignment]  WITH CHECK ADD  CONSTRAINT [FK_assign_user] FOREIGN KEY([created_by_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[shift_assignment] CHECK CONSTRAINT [FK_assign_user]
GO
ALTER TABLE [rrhh].[shift_change_request]  WITH CHECK ADD  CONSTRAINT [FK_scr_req] FOREIGN KEY([request_id])
REFERENCES [rrhh].[wf_request] ([request_id])
GO
ALTER TABLE [rrhh].[shift_change_request] CHECK CONSTRAINT [FK_scr_req]
GO
ALTER TABLE [rrhh].[shift_change_request]  WITH CHECK ADD  CONSTRAINT [FK_scr_shift] FOREIGN KEY([requested_shift_id])
REFERENCES [rrhh].[shift_definition] ([shift_id])
GO
ALTER TABLE [rrhh].[shift_change_request] CHECK CONSTRAINT [FK_scr_shift]
GO
ALTER TABLE [rrhh].[sys_attachment]  WITH CHECK ADD  CONSTRAINT [FK_file_user] FOREIGN KEY([uploaded_by_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[sys_attachment] CHECK CONSTRAINT [FK_file_user]
GO
ALTER TABLE [rrhh].[sys_notification]  WITH CHECK ADD  CONSTRAINT [FK_notif_user] FOREIGN KEY([to_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[sys_notification] CHECK CONSTRAINT [FK_notif_user]
GO
ALTER TABLE [rrhh].[time_reduction_request]  WITH CHECK ADD  CONSTRAINT [FK_reduction_req] FOREIGN KEY([request_id])
REFERENCES [rrhh].[wf_request] ([request_id])
GO
ALTER TABLE [rrhh].[time_reduction_request] CHECK CONSTRAINT [FK_reduction_req]
GO
ALTER TABLE [rrhh].[wf_action]  WITH CHECK ADD  CONSTRAINT [FK_action_req] FOREIGN KEY([request_id])
REFERENCES [rrhh].[wf_request] ([request_id])
GO
ALTER TABLE [rrhh].[wf_action] CHECK CONSTRAINT [FK_action_req]
GO
ALTER TABLE [rrhh].[wf_action]  WITH CHECK ADD  CONSTRAINT [FK_action_user] FOREIGN KEY([actor_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[wf_action] CHECK CONSTRAINT [FK_action_user]
GO
ALTER TABLE [rrhh].[wf_request]  WITH CHECK ADD  CONSTRAINT [FK_wf_created_by] FOREIGN KEY([created_by_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[wf_request] CHECK CONSTRAINT [FK_wf_created_by]
GO
ALTER TABLE [rrhh].[wf_request]  WITH CHECK ADD  CONSTRAINT [FK_wf_emp] FOREIGN KEY([employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[wf_request] CHECK CONSTRAINT [FK_wf_emp]
GO
ALTER TABLE [rrhh].[wf_request_step]  WITH CHECK ADD  CONSTRAINT [FK_step_req] FOREIGN KEY([request_id])
REFERENCES [rrhh].[wf_request] ([request_id])
GO
ALTER TABLE [rrhh].[wf_request_step] CHECK CONSTRAINT [FK_step_req]
GO
ALTER TABLE [rrhh].[wf_request_step]  WITH CHECK ADD  CONSTRAINT [FK_step_user] FOREIGN KEY([assigned_to_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[wf_request_step] CHECK CONSTRAINT [FK_step_user]
GO
ALTER TABLE [rrhh].[wfh_day]  WITH CHECK ADD  CONSTRAINT [FK_wfh_day_employee] FOREIGN KEY([employee_id])
REFERENCES [rrhh].[hr_employee] ([employee_id])
GO
ALTER TABLE [rrhh].[wfh_day] CHECK CONSTRAINT [FK_wfh_day_employee]
GO
ALTER TABLE [rrhh].[wfh_day]  WITH CHECK ADD  CONSTRAINT [FK_wfh_day_user] FOREIGN KEY([created_by_user_id])
REFERENCES [rrhh].[auth_user] ([user_id])
GO
ALTER TABLE [rrhh].[wfh_day] CHECK CONSTRAINT [FK_wfh_day_user]
GO
ALTER TABLE [rrhh].[att_import_batch]  WITH CHECK ADD  CONSTRAINT [CK_att_batch_month] CHECK  (([month_no]>=(1) AND [month_no]<=(12)))
GO
ALTER TABLE [rrhh].[att_import_batch] CHECK CONSTRAINT [CK_att_batch_month]
GO
ALTER TABLE [rrhh].[att_import_batch]  WITH CHECK ADD  CONSTRAINT [CK_att_batch_status] CHECK  (([status]='FAILED' OR [status]='APPLIED' OR [status]='UPLOADED'))
GO
ALTER TABLE [rrhh].[att_import_batch] CHECK CONSTRAINT [CK_att_batch_status]
GO
ALTER TABLE [rrhh].[hr_employee]  WITH CHECK ADD  CONSTRAINT [CK_hr_employee_doc_number_not_blank] CHECK  (([doc_number] IS NULL OR ltrim(rtrim([doc_number]))<>''))
GO
ALTER TABLE [rrhh].[hr_employee] CHECK CONSTRAINT [CK_hr_employee_doc_number_not_blank]
GO
ALTER TABLE [rrhh].[hr_employee_manager]  WITH CHECK ADD  CONSTRAINT [CK_mgr_dates] CHECK  (([valid_to] IS NULL OR [valid_to]>=[valid_from]))
GO
ALTER TABLE [rrhh].[hr_employee_manager] CHECK CONSTRAINT [CK_mgr_dates]
GO
ALTER TABLE [rrhh].[report_export_log]  WITH CHECK ADD  CONSTRAINT [CK_export_format] CHECK  (([format]='PDF' OR [format]='XLSX'))
GO
ALTER TABLE [rrhh].[report_export_log] CHECK CONSTRAINT [CK_export_format]
GO
ALTER TABLE [rrhh].[report_export_log]  WITH CHECK ADD  CONSTRAINT [CK_export_status] CHECK  (([status]='FAILED' OR [status]='GENERATED' OR [status]='CREATED'))
GO
ALTER TABLE [rrhh].[report_export_log] CHECK CONSTRAINT [CK_export_status]
GO
ALTER TABLE [rrhh].[shift_assignment]  WITH CHECK ADD  CONSTRAINT [CK_assign_dates] CHECK  (([valid_to] IS NULL OR [valid_to]>=[valid_from]))
GO
ALTER TABLE [rrhh].[shift_assignment] CHECK CONSTRAINT [CK_assign_dates]
GO
ALTER TABLE [rrhh].[shift_definition]  WITH CHECK ADD  CONSTRAINT [CK_shift_group] CHECK  (([shift_group]='CABINA' OR [shift_group]='ADMIN'))
GO
ALTER TABLE [rrhh].[shift_definition] CHECK CONSTRAINT [CK_shift_group]
GO
ALTER TABLE [rrhh].[sys_notification]  WITH CHECK ADD  CONSTRAINT [CK_notif_channel] CHECK  (([channel]='EMAIL' OR [channel]='INAPP'))
GO
ALTER TABLE [rrhh].[sys_notification] CHECK CONSTRAINT [CK_notif_channel]
GO
ALTER TABLE [rrhh].[sys_notification]  WITH CHECK ADD  CONSTRAINT [CK_notif_status] CHECK  (([status]='FAILED' OR [status]='SENT' OR [status]='PENDING'))
GO
ALTER TABLE [rrhh].[sys_notification] CHECK CONSTRAINT [CK_notif_status]
GO
ALTER TABLE [rrhh].[time_reduction_request]  WITH CHECK ADD  CONSTRAINT [CK_reduction_minutes] CHECK  (([minutes]=(60)))
GO
ALTER TABLE [rrhh].[time_reduction_request] CHECK CONSTRAINT [CK_reduction_minutes]
GO
ALTER TABLE [rrhh].[time_reduction_request]  WITH CHECK ADD  CONSTRAINT [CK_reduction_slot] CHECK  (([slot]='PM' OR [slot]='AM'))
GO
ALTER TABLE [rrhh].[time_reduction_request] CHECK CONSTRAINT [CK_reduction_slot]
GO
ALTER TABLE [rrhh].[wf_action]  WITH CHECK ADD  CONSTRAINT [CK_action] CHECK  (([action]='CANCEL' OR [action]='SUBMIT' OR [action]='REJECT' OR [action]='APPROVE'))
GO
ALTER TABLE [rrhh].[wf_action] CHECK CONSTRAINT [CK_action]
GO
ALTER TABLE [rrhh].[wf_request]  WITH CHECK ADD  CONSTRAINT [CK_wf_status] CHECK  (([status]='CANCELLED' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='SUBMITTED' OR [status]='DRAFT'))
GO
ALTER TABLE [rrhh].[wf_request] CHECK CONSTRAINT [CK_wf_status]
GO
ALTER TABLE [rrhh].[wf_request_step]  WITH CHECK ADD  CONSTRAINT [CK_step_status] CHECK  (([status]='SKIPPED' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [rrhh].[wf_request_step] CHECK CONSTRAINT [CK_step_status]
GO
/****** Object:  StoredProcedure [rrhh].[sp_apply_approved_shift_change]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [rrhh].[sp_apply_approved_shift_change]
      @request_id BIGINT,
      @actor_user_id INT
    AS
    BEGIN
      SET NOCOUNT ON;

      IF NOT EXISTS (
        SELECT 1
        FROM rrhh.wf_request
        WHERE request_id = @request_id
          AND status = 'APPROVED'
          AND request_type = 'SHIFT_CHANGE'
      )
      BEGIN
        RAISERROR('La solicitud no está APPROVED o no es SHIFT_CHANGE', 16, 1);
        RETURN;
      END

      DECLARE @emp INT, @shift INT, @eff DATE, @reason NVARCHAR(200);

      SELECT @emp = employee_id
      FROM rrhh.wf_request
      WHERE request_id = @request_id;

      SELECT @shift = requested_shift_id, @eff = effective_date, @reason = reason
      FROM rrhh.shift_change_request
      WHERE request_id = @request_id;

      DECLARE @final_reason NVARCHAR(200);
      SET @final_reason = ISNULL(@reason, 'Solicitud aprobada #' + CAST(@request_id AS NVARCHAR(30)));

      EXEC rrhh.sp_set_shift_assignment
        @employee_id = @emp,
        @shift_id = @shift,
        @valid_from = @eff,
        @valid_to = NULL,
        @actor_user_id = @actor_user_id,
        @reason = @final_reason;
    END;
  
GO
/****** Object:  StoredProcedure [rrhh].[sp_apply_attendance_batch]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5) Ajustar el SP de aplicar batch de asistencia (usa tu modelo: batch_id / source_batch_id)
CREATE   PROCEDURE [rrhh].[sp_apply_attendance_batch]
  @batch_id BIGINT,
  @actor_user_id INT
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @y INT, @m INT;
  SELECT @y = year_no, @m = month_no
  FROM rrhh.att_import_batch
  WHERE batch_id = @batch_id;

  IF @y IS NULL
  BEGIN
    RAISERROR('Batch no existe', 16, 1);
    RETURN;
  END

  DECLARE @from DATE = DATEFROMPARTS(@y, @m, 1);
  DECLARE @to   DATE = EOMONTH(@from);

  IF EXISTS (
    SELECT 1
    FROM rrhh.att_import_row
    WHERE batch_id = @batch_id
      AND (work_date < @from OR work_date > @to)
  )
  BEGIN
    RAISERROR('El batch contiene fechas fuera del mes indicado', 16, 1);
    RETURN;
  END

  -- Auditoría (solo si ya existe un registro previo en att_day)
  INSERT INTO rrhh.att_day_audit(
    employee_id, work_date,
    old_first_in, old_last_out, old_total_minutes,
    new_first_in, new_last_out, new_total_minutes,
    batch_id, changed_by_user_id
  )
  SELECT
    d.employee_id, d.work_date,
    d.first_in, d.last_out, d.total_minutes,
    r.first_in, r.last_out, r.total_minutes,
    @batch_id, @actor_user_id
  FROM rrhh.att_import_row r
  JOIN rrhh.hr_employee e
    ON e.doc_number = r.doc_number
  JOIN rrhh.att_day d
    ON d.employee_id = e.employee_id
   AND d.work_date   = r.work_date
  WHERE r.batch_id = @batch_id
    AND r.load_status = 'OK';

  -- Upsert al consolidado
  MERGE rrhh.att_day AS T
  USING (
    SELECT
      e.employee_id,
      r.work_date,
      r.first_in,
      r.last_out,
      r.total_minutes
    FROM rrhh.att_import_row r
    JOIN rrhh.hr_employee e
      ON e.doc_number = r.doc_number
    WHERE r.batch_id = @batch_id
      AND r.load_status = 'OK'
  ) AS S
  ON (T.employee_id = S.employee_id AND T.work_date = S.work_date)
  WHEN MATCHED THEN
    UPDATE SET
      first_in = S.first_in,
      last_out = S.last_out,
      total_minutes = S.total_minutes,
      source_batch_id = @batch_id,
      updated_at = GETDATE()
  WHEN NOT MATCHED THEN
    INSERT (employee_id, work_date, first_in, last_out, total_minutes, source_batch_id)
    VALUES (S.employee_id, S.work_date, S.first_in, S.last_out, S.total_minutes, @batch_id);

  UPDATE rrhh.att_import_batch
    SET status = 'APPLIED'
  WHERE batch_id = @batch_id;
END;

GO
/****** Object:  StoredProcedure [rrhh].[sp_set_shift_assignment]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [rrhh].[sp_set_shift_assignment]
      @employee_id INT,
      @shift_id INT,
      @valid_from DATE,
      @valid_to DATE = NULL,
      @actor_user_id INT,
      @reason NVARCHAR(200) = NULL
    AS
    BEGIN
      SET NOCOUNT ON;
      SET XACT_ABORT ON;

      IF @valid_to IS NOT NULL AND @valid_to < @valid_from
      BEGIN
        RAISERROR('valid_to no puede ser menor a valid_from', 16, 1);
        RETURN;
      END

      IF NOT EXISTS (SELECT 1 FROM rrhh.shift_definition WHERE shift_id = @shift_id AND is_active = 1)
      BEGIN
        RAISERROR('shift_id no válido o inactivo', 16, 1);
        RETURN;
      END

      BEGIN TRAN;

      /* si existe asignación futura, ajustar valid_to para no traslapar */
      DECLARE @next_from DATE;
      SELECT TOP (1) @next_from = valid_from
      FROM rrhh.shift_assignment
      WHERE employee_id = @employee_id
        AND valid_from > @valid_from
      ORDER BY valid_from ASC;

      IF @next_from IS NOT NULL
      BEGIN
        IF @valid_to IS NULL
          SET @valid_to = DATEADD(DAY, -1, @next_from);
        ELSE IF @valid_to >= @next_from
        BEGIN
          ROLLBACK;
          RAISERROR('La nueva vigencia traslapa con una asignación futura', 16, 1);
          RETURN;
        END
      END

      /* cerrar asignación vigente */
      DECLARE @old_shift_id INT, @old_from DATE, @old_to DATE;

      SELECT TOP (1)
        @old_shift_id = shift_id,
        @old_from = valid_from,
        @old_to = valid_to
      FROM rrhh.shift_assignment
      WHERE employee_id = @employee_id
        AND valid_from <= @valid_from
        AND (valid_to IS NULL OR valid_to >= @valid_from)
      ORDER BY valid_from DESC;

      IF @old_shift_id IS NOT NULL
      BEGIN
        UPDATE rrhh.shift_assignment
          SET valid_to = DATEADD(DAY, -1, @valid_from)
        WHERE employee_id = @employee_id
          AND shift_id = @old_shift_id
          AND valid_from = @old_from;
      END

      /* insertar nueva asignación */
      INSERT INTO rrhh.shift_assignment(employee_id, shift_id, valid_from, valid_to, created_by_user_id)
      VALUES (@employee_id, @shift_id, @valid_from, @valid_to, @actor_user_id);

      /* auditoría */
      INSERT INTO rrhh.shift_assignment_audit(
        employee_id, old_shift_id, old_valid_from, old_valid_to,
        new_shift_id, new_valid_from, new_valid_to,
        changed_by_user_id
      )
      VALUES (
        @employee_id, @old_shift_id, @old_from, @old_to,
        @shift_id, @valid_from, @valid_to,
        @actor_user_id
      );

      /* notificación */
      DECLARE @to_user_id INT;
      SELECT TOP (1) @to_user_id = user_id
      FROM rrhh.auth_user
      WHERE employee_id = @employee_id AND is_active = 1
      ORDER BY user_id;

      IF @to_user_id IS NOT NULL
      BEGIN
        DECLARE @shift_code NVARCHAR(30);
        SELECT @shift_code = shift_code FROM rrhh.shift_definition WHERE shift_id = @shift_id;

        DECLARE @body NVARCHAR(MAX);
        SET @body =
          'Se aplicó un cambio de turno a: ' + ISNULL(@shift_code, '') +
          '. Vigencia desde: ' + CONVERT(NVARCHAR(10), @valid_from, 120) +
          CASE WHEN @valid_to IS NULL THEN ''
               ELSE ' hasta: ' + CONVERT(NVARCHAR(10), @valid_to, 120) END +
          CASE WHEN @reason IS NULL THEN ''
               ELSE '. Motivo: ' + @reason END;

        INSERT INTO rrhh.sys_notification(to_user_id, channel, subject, body, ref_table, ref_id)
        VALUES (@to_user_id, 'INAPP', 'Cambio de turno aplicado', @body, 'shift_assignment', NULL);
      END

      COMMIT;
    END;
  
GO
/****** Object:  StoredProcedure [rrhh].[sp_submit_request]    Script Date: 2/20/2026 9:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [rrhh].[sp_submit_request]
      @request_id BIGINT,
      @actor_user_id INT
    AS
    BEGIN
      SET NOCOUNT ON;

      DECLARE @employee_id INT, @is_exec BIT;

      SELECT @employee_id = employee_id
      FROM rrhh.wf_request
      WHERE request_id = @request_id AND status = 'DRAFT';

      IF @employee_id IS NULL
      BEGIN
        RAISERROR('Solicitud no existe o no está en DRAFT', 16, 1);
        RETURN;
      END

      SELECT @is_exec = is_exec_approval_by_hr
      FROM rrhh.hr_employee
      WHERE employee_id = @employee_id;

      UPDATE rrhh.wf_request
        SET status = 'SUBMITTED', submitted_at = GETDATE()
      WHERE request_id = @request_id;

      INSERT INTO rrhh.wf_action(request_id, step_no, actor_user_id, action, comment)
      VALUES (@request_id, NULL, @actor_user_id, 'SUBMIT', NULL);

      DELETE FROM rrhh.wf_request_step WHERE request_id = @request_id;

      DECLARE @hr_user_id INT;
      SELECT TOP (1) @hr_user_id = user_id
      FROM rrhh.hr_approver_pool
      WHERE is_active = 1
      ORDER BY user_id;

      IF @hr_user_id IS NULL
      BEGIN
        RAISERROR('No hay aprobadores RRHH activos en hr_approver_pool', 16, 1);
        RETURN;
      END

      IF @is_exec = 1
      BEGIN
        INSERT INTO rrhh.wf_request_step(request_id, step_no, assigned_to_user_id)
        VALUES (@request_id, 1, @hr_user_id);
        RETURN;
      END

      DECLARE @manager_emp_id INT, @manager_user_id INT;

      SELECT TOP (1) @manager_emp_id = manager_employee_id
      FROM rrhh.hr_employee_manager
      WHERE employee_id = @employee_id
        AND is_primary = 1
        AND valid_from <= CAST(GETDATE() AS DATE)
        AND (valid_to IS NULL OR valid_to >= CAST(GETDATE() AS DATE))
      ORDER BY valid_from DESC;

      SELECT TOP (1) @manager_user_id = user_id
      FROM rrhh.auth_user
      WHERE employee_id = @manager_emp_id AND is_active = 1
      ORDER BY user_id;

      IF @manager_user_id IS NULL
        SET @manager_user_id = @hr_user_id; -- fallback

      INSERT INTO rrhh.wf_request_step(request_id, step_no, assigned_to_user_id)
      VALUES (@request_id, 1, @manager_user_id);

      INSERT INTO rrhh.wf_request_step(request_id, step_no, assigned_to_user_id)
      VALUES (@request_id, 2, @hr_user_id);
    END;
  
GO
USE [master]
GO
